.main_chat

  .main_chat_header
    .main_chat_header_left_box
      .main_chat_header_left_box_current-group
        =@group.name
      .main_chat_header_left_box_member-list
        Member:
        - @group.users.each do |user|
          = user.name
    .main_chat_header_edit-btn
      = link_to 'Edit', edit_group_path(@group), class: 'btn'

  .main_chat_messages
    =render @messages

  .main_chat_footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input_text_new_message', placeholder: 'type a message'
      -# .main_chat_footer_form
      -#   .main_chat_footer_form_input-text
          -# = f.text_field :content, class: 'input_text_new_message', placeholder: 'type a message'
      .main_chat_footer_form_input-img
        = f.label :image, class: 'input-box_images' do
          = icon('fas', 'image', class: 'images')
          = f.file_field :image, class: 'input_img_file'
      = f.submit 'Send', class: 'submit-btn'
      -# .main_chat_footer_send-btn
        -# = f.submit 'Send', class: 'submit-btn'