.side_bar

  .side_bar_header
    .side_bar_header_box
      .side_bar_header_box_user-name
        =current_user.name
      .side_bar_header_box_menu
        .side_bar_header_box_menu_group
          = link_to new_group_path do
            = icon('fas', 'object-group')
        .side_bar_header_box_menu_edit
          = link_to edit_user_path(current_user) do
            = icon('fas', 'edit')
            
  .side_bar_groups
    .side_bar_groups_group
      .side_bar_groups_group_group-name
        - current_user.groups.each do |group|
          .group
            = link_to '#' do
              .group-name
                = group.name
      .side_bar_groups_group_latest-message
        まだメッセージがありません